@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* My solution */

body {
  display:flex;
  flex-direction: column;
}

.header, .footer {
  display:flex;
  justify-content: space-between;
}

.left-links, .right-links {
  display: flex;
  gap:2vw;
  list-style-type: none;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: rgb(120,120,120);
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  flex-grow:1;
  gap:1vh;
}

.buttons {
  display: flex;
  gap:2vw;
}

button {
  padding: 0.7vh 2vh;
}

.footer {
  background-color: #eee;
}

/* 
- The buttons have an appropriate amount of padding.
- There is space between the logo, input and buttons.

*/